@model Library.Models.Cart
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid text-center">
    <div class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Cart</h1>
                <p class="lead fw-normal text-white-50 mb-0"></p>
            </div>
        </div>
    </div>
    @*Cards with Books*@
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">

            @if (Model.Books.Count() != 0)
            {
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    @foreach (var item in Model.Books)
                    {
                        <div class="col mb-5">
                            <div class="card h-100">
                        <div class="card-body p-4">
                                    <div class="text-center">
                                        <h5 class="fw-bolder">@item.vcTitle</h5>
                                        <h5>@item.vcAuthor</h5>
                                        <p>Published: @item.dtPublishedDate.ToShortDateString()</p>
                                        <p>ISBN: @item.vcISBN</p>
                                        <p>Available: @item.iQuantityAvailable</p>
                                    </div>
                                </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><button class="btn btn-outline-dark mt-auto cartbutton"
                                    value="@item.uID">Remove from Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="row gx-4 gx-lg-5 row-cols-8 justify-content-center">
                    <h5>
                        The cart is empty. Go to the catalog and add books to the cart in order to check out.
                    </h5>
                </div>
            }
        </div>
    </section>
</div>

@section Scripts{
<script>
    $(document).ready(function () {
        $('#cartsubmit').remove();
    });
</script>
}